:root {
  --blue: hsl(200, 100%, 90%);
  --blue--b: hsl(200, 100%, 80%);
  --coral: hsl(300, 100%, 93%);
  --coral--b: hsl(280, 100%, 70%);
  --green: hsl(113, 85%, 95%);
  --green--b: hsl(84, 71%, 53%);
  --yellow: hsl(30, 100%, 93%);
  --yellow--b: hsl(40, 100%, 80%);
}

/* Reset styles */
body {
  margin: 0;
}
/* end reset styles */

aside {
  grid-column: 3 / 4;
}

aside:has(nav) {
  grid-column: 1 / 2;
}

aside > nav {
  display: flex;
  flex-direction: column;
}

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
}

footer {
  grid-column: 1 / 4;
}

header {
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-column: 2 / 3;
}

.blue {
  background-color: var(--blue);
  border: 1px solid var(--blue--b);
}

.coral {
  background-color: var(--coral);
  border: 1px solid var(--coral--b);
}

.green {
  background-color: var(--green);
  border: 1px solid var(--green--b);
}

.hamburger {
  --size: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-margin-start: -1rem;
  margin-inline-start: -1rem;
  block-size: var(--size);
  inline-size: var(--size);
  outline: none;
  transition: border-color 0.25s ease, background-color 0.25s ease;
}

.hamburger > svg {
  width: 100%;
}

.hamburger > svg > line {
  stroke: black;
  stroke-width: 7px;
  transition: stroke 0.25s ease;
}

.section {
  padding: 1rem;
  border-style: dashed;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow--b);
}

#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  display: none;
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;
}

@media (prefers-reduced-motion: reduce) {
  #sidenav-open {
    --duration: 1ms;
  }
}

@media (max-width: 540px) {
  aside:not(aside:has(nav)) {
    grid-area: 3 / 1;
  }

  body {
    grid-template: auto 1fr auto auto / 1fr;
  }

  main {
    grid-area: 2 / 1;
  }

  #sidenav-button, #sidenav-close {
    display: block;
  }

  #sidenav-open {
    position: fixed;
    top: 0;
    min-block-size: 100vh;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }

  #sidenav-open:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }
}
